UniversalClock.WindowsPhone/bin/Debug/App.xbf
UniversalClock.WindowsPhone/bin/Debug/AppxManifest.xml
UniversalClock.WindowsPhone/bin/Debug/MainPage.xbf
UniversalClock.WindowsPhone/bin/Debug/ClockControl.xbf
UniversalClock.WindowsPhone/bin/Debug/resources.pri
UniversalClock.WindowsPhone/bin/Debug/UniversalClock.WindowsPhone.build.appxrecipe
UniversalClock.WindowsPhone/bin/Debug/UniversalClock.WindowsPhone.xr.xml
UniversalClock.WindowsPhone/obj/Debug/App.g.cs
UniversalClock.WindowsPhone/obj/Debug/App.g.i.cs
UniversalClock.WindowsPhone/obj/Debug/App.xaml
UniversalClock.WindowsPhone/obj/Debug/App.xbf
UniversalClock.WindowsPhone/obj/Debug/ClockControl.g.cs
UniversalClock.WindowsPhone/obj/Debug/ClockControl.g.i.cs
UniversalClock.WindowsPhone/obj/Debug/ClockControl.xaml
UniversalClock.WindowsPhone/obj/Debug/ClockControl.xbf
*.resfiles
UniversalClock.WindowsPhone/obj/Debug/MainPage.g.cs
UniversalClock.WindowsPhone/obj/Debug/MainPage.g.i.cs
*.xbf
*.intermediate
UniversalClock.Windows/bin/Debug/AppxManifest.xml
UniversalClock.Windows/bin/Debug/UniversalClock.Windows.build.appxrecipe
UniversalClock.Windows/bin/Debug/UniversalClock.Windows.xr.xml
UniversalClock.Windows/bin/Debug/resources.pri
UniversalClock.WindowsPhone/obj/Debug/MainPage.xaml
UniversalClock.WindowsPhone/obj/Debug/priconfig.xml
UniversalClock.WindowsPhone/obj/Debug/ProjectArchitectures.txt
UniversalClock.WindowsPhone/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UniversalClock.WindowsPhone/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UniversalClock.WindowsPhone/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UniversalClock.WindowsPhone/obj/Debug/UniversalClock.WindowsPhone.csproj.FileListAbsolute.txt
UniversalClock.WindowsPhone/obj/Debug/UniversalClock.WindowsPhone.xr.xml
UniversalClock.WindowsPhone/obj/Debug/XamlTypeInfo.g.cs
UniversalClock.WindowsPhone/obj/Debug/XamlSaveStateFile.xml
UniversalClock.WindowsPhone/obj/Debug/XamlTypeInfo.g.cs.backup
UniversalClock.WindowsPhone/obj/Debug/qualifiers.txt
UniversalClock.WindowsPhone/obj/Debug/MultipleQualifiersPerDimensionFound.txt